#course-view {
	margin-top: 6em;
	display: flex;
	flex-direction: row;	
}
#course-view div.mainView {
	width: 60%;
	padding: 2.6em;
}

#course-view div.mainView img {
	float: right;
	width: 30%;
}

#course-view div.mainView h1 {
	margin: 0 auto;
	text-align: center;	
}
#course-menu {
	width: 26%;
}
#course-menu button {
	font-weight: bold;
	border: none;
	width: 100%;
	padding: 1.6em;
	background-color: white;
}

#course-menu button:hover {
	background-color: rgba(186, 186, 186, 0.8);
}
