
/* Responsive Styles */
@media (max-width: 767px) {

    .carousel {
        height: 70%;
        /* increases the carousel height so it looks good on phones */
    }
}

#thread{
	background-color:#CFCFCF;
}

hr {
  border-color: #A9A9A9;
  height: 2px;
}

.progress {
    position: relative;
	height: 25px;
	width: 43em;
	border-radius: 15px;
}
.progress > .progress-type {
	position: relative;
	left: 0px;
	font-weight: 800;
	padding: 3px 30px 2px 10px;
	color: black;
}
.progress > .progress-completed {
	position: absolute;
	right: 0px;
	font-weight: 800;
	padding: 3px 10px 2px;
}
