
/* Responsive Styles */
@media (max-width: 767px) {

    .carousel {
        height: 70%;
        /* increases the carousel height so it looks good on phones */
    }
}

#thread{
	background-color:#CFCFCF;
}

.well.well-lg.thread{
	background-color:#D3D3D3;
}

hr {
  border-color: #A9A9A9;
  height: 2px;
}

.progress {
    position: relative;
	height: 25px;
	width: 43em;
	border-radius: 15px;
}
.progress > .progress-type {
	position: relative;
	left: 0px;
	font-weight: 800;
	padding: 3px 30px 2px 10px;
	color: black;
}
.progress > .progress-completed {
	position: absolute;
	right: 0px;
	font-weight: 800;
	padding: 3px 10px 2px;
}

.media .media-object { max-width: 120px; }
.media-body { position: relative; }
.media-date { 
    position: absolute; 
    right: 25px;
    top: 25px;
}
.media-date li { padding: 0; }
.media-date li:first-child:before { content: ''; }
.media-date li:before { 
    content: '.'; 
    margin-left: -2px; 
    margin-right: 2px;
}
.media-comment { margin-bottom: 20px; }
.media-replied { margin: 0 0 20px 50px; }
.media-replied .media-heading { padding-left: 6px; }

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}
.btn-circle span { padding-right: 6px; }
.embed-responsive { margin-bottom: 20px; }

.footer-ref{
	color: white;
}

#footer-right{
	margin-right: 8px;
}

#footer-image{
	width:60px; 
	height:45px; 
	padding-left:15px;
}