html > body {
    padding: 0px;
    background: url('../resources/images/fmi-darker.png') no-repeat center center fixed;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;  
    font-size: 1.6em;
}

header, footer {
    background-color: rgba(3, 34, 61, 0.8);
}

footer {
    height: 200px;
    width: 100%;
    margin-top: 60px;
}

nav {
    width: 90%;
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;

}
nav ul {
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

nav ul > li {
    flex-grow: 1;
    background-color: white;
    height: 60px;
    line-height: 60px;
    padding-right: 0.6em;
    padding-left: 0.6em;
    text-align: center;
}
nav div {
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
nav form {
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

nav form input {
    padding-left: 6px;
}

#search, nav > form > button {
    height: 100%;
    background-color: white;
    border-width: 0px;
    border-radius: 0px;
    margin: 0px;
}

#search {
    width: 150px;
    padding-left: 2em;
    border-radius: 10px 0px 0px 10px;
}

#search-button {
    height: 60px;
    border-width: 0px;
    background-color: rgb(186, 186, 186);
    width: 30%;
    border-radius: 0px 10px 10px 0px;
}

nav ul > li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

nav ul li a {
    color: #03223d;
}

nav ul li:hover a  {
     color: white; 
     text-decoration:none; 
     cursor:pointer;  
}

nav ul li:first-child {
    border-radius: 10px 0px 0px 10px;
    padding-left: 20px;
}

nav ul li:last-child {
    border-radius: 0px 10px 10px 0px;
    padding-right: 20px;
}

.mainView {
    display: block;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.95);
    border-radius: 10px;
	padding-left: 4em;
	padding-right: 4em;
	padding-bottom: 2em;
}

#contentView {
    margin: 10em auto;
}

nav > div a img {
    height: 60px;
    margin-left: 1em;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 0px;
    top: 0;
    position: fixed;
    justify-content: center;
	z-index: 99;
}

header > a img {
    width: 2em;
}

nav > div > a:hover {
    opacity: 0.6;
}
#notifications-bell {
    font-size: 30px;
    text-decoration: none;
}

#notifications-bell  {
    color: #fd9f1b;
}

#notifications-bell:hover  {
     color: white; 
     text-decoration:none; 
     cursor:pointer;  
}
#notifications-bell:hover, t#notifications-bell:focus
{
  -webkit-animation: swing 0.6s ease-out;
  animation: swing 0.6s ease-out;
}

@-webkit-keyframes swing {
  0%   { -webkit-transform: rotate(0deg)  skewY(0deg); }
  20%  { -webkit-transform: rotate(12deg) skewY(4deg); }
  60%  { -webkit-transform: rotate(-9deg) skewY(-3deg); }
  80%  { -webkit-transform: rotate(6deg)  skewY(-2deg); }
  100% { -webkit-transform: rotate(0deg)  skewY(0deg); }
}

@keyframes swing {
  0%   { transform: rotate(0deg)  skewY(0deg); }
  20%  { transform: rotate(12deg) skewY(4deg); }
  60%  { transform: rotate(-9deg) skewY(-3deg); }
  80%  { transform: rotate(6deg)  skewY(-2deg); }
  100% { transform: rotate(0deg)  skewY(0deg); }
}

@media screen and (max-width: 1205px) {
    nav div {
        width: 100%;
    }
   
    nav ul {
        width: 100%;
    }
    
    nav div form {
        flex: flex-grow;
        width: 90%;
        text-align: center;
    }
    #search {
        width: 100%;
    }
}

@media screen and (max-width: 810px) {
    nav {
        display: block;

    }    
    nav ul {
        width: 100%;
        flex-direction: column;
    }
    
    nav ul li {
        width: 100%;
    }
    nav ul li:first-child {
        border-radius: 10px 10px 0px 0px;
    }

    nav ul li:last-child {
        border-radius: 0px 0px 10px 10px;
    }
    nav div form {
        flex: flex-grow;
        width: 90%;
        text-align: center;
    }
    
    header {
        position: inherit;
    }

    nav div {
        width: 100%;
    }
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: Transparent;
    outline: none;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    opacity: 0.6;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}