<div navigationpath></div>
<div class="courses-div">
	<div class="row">
		<div class="first-column-courses col-sm-3 col-xs-11 col-xs-preset-1">
			<div>
				<h3>Филтри</h3>
				<div id="filters">
					<h4>Вид</h4>
					<input type="checkbox" name="type" ng-checked="params.compulsory"> Задължителни дисциплини<br>
  					<input type="checkbox" name="type" ng-checked="params.electives"> Избираеми дисциплини<br>

  					<h4>Специалност</h4>
  					<span ng-repeat="degree in bachelorDegrees" >
  						<input type="checkbox" name="category" >{{ degree }}<br>
  					</span>

  					<h4>Категория</h4>
  					<span ng-repeat="category in categories">
  						<input type="checkbox" name="category" >{{ category }}<br>
  					</span>

  					<h4>Kурс</h4>
  					<input type="range" min="1" max="5" id="courseInputID" oninput="courseOutputID.value = courseInputID.value">
  					<output id="courseOutputID"/>
  					
  					<h4>Кредити</h4>
  					<input type="range" min="0" max="10" step=".5" id="creditsInputID" oninput="creditsOutputID.value = creditsInputID.value">
  					<output id="creditsOutputID"/>

  					<h4>Семестър</h4>
  					<input type="checkbox" name="semester">Зимен<br>
  					<input type="checkbox" name="semester" checked>Летен<br><br>
				</div>
			</div>
		</div>
		
		<div class="second-column-courses col-sm-8 col-sm-offset-1 col-xs-11 col-xs-preset-1">
			<h1>Курсове</h1>
			<span class="row" ng-repeat="course in courses">
				<div class="single-course-div">
					<div class="col-lg-3 col-xs-3">
						<img ng-src="{{course.img}}" class="img-responsive course-image" style="display: block; margin: auto;">
					</div>
					<div class="col-lg-9 col-xs-9">
						<h4><a href="#!/education/disciplines/{{course.ref}}"><b> {{ course.name }} </b></a></h4>
						<p>Специалности: <b>{{ course.compatibleDegrees }}</b></p>
						<p>Категория: <b>{{ course.category }}</b></p>
						<p>Курс: <b>{{ course.year }}</b></p>
						<p>Кредити: <b>{{ course.credits }}</b></p>
						<p>Преподавателски екип: <b>{{ course.teachers }}</b></p>
					</div>
				</div>
				<hr>
			</span>
		</div>
	</div>
</div>