<div class="container mainView">
  <div class="row">
    <div class="col-sm-12" id="logout">
        <div class="page-header">
            <h3 class="">Какви са добрите практики при проектиране на интерфейс?</h3>
        </div>
        <div class="comment-tabs">            
            <div>
                <div class="tab-pane active" id="comments-logout">                
                    <ul class="media-list">
                      <li class="media">
                        <a class="pull-left" href="#">
                          <img class="media-object img-circle" src="resources/images/deadpool.jpg" alt="profile">
                        </a>
                        <div class="media-body">
                          <div class="well well-lg thread">
                              <h4 class="media-heading ">Кирил Христов</h4>
                              <ul class="media-date text-uppercase  list-inline">
                                <li class="dd">20</li>
                                <li class="mm">05</li>
                                <li class="aaaa">2017</li>
                              </ul>
                              <p class="media-comment">
                                И на мен ми е интересна тази тема. Споделете нещо, което се срещали.
                              </p>
                              <a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-thumbs-up"></span>6</a>
							  <a class="btn btn-warning btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-thumbs-down"></span>0</a>
                          </div>              
                        </div>
                      </li>          
                      <li class="media">
                        <a class="pull-left" href="#">
                          <img class="media-object img-circle" src="resources/images/man.jpg" alt="profile">
                        </a>
                        <div class="media-body">
                          <div class="well well-lg thread">
                              <h4 class="media-heading ">Иван Георгиев</h4>
                              <ul class="media-date text-uppercase  list-inline">
                                <li class="dd">21</li>
                                <li class="mm">05</li>
                                <li class="aaaa">2017</li>
                              </ul>
                              <p class="media-comment">
                                Вижте това видео, мисля, че е много интересно. :)
                              </p>
                              <div class="embed-responsive embed-responsive-16by9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/t3dJnR6MzeA" frameborder="0" allowfullscreen></iframe>
                              </div>
                              <a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-thumbs-up">5</span></a>
							  <a class="btn btn-warning btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-thumbs-down"></span>0</a>
                          </div>              
                        </div>
                      </li>
                      <li class="media">
                        <a class="pull-left" href="#">
                          <img class="media-object img-circle" src="resources/images/girl.jpg" alt="profile">
                        </a>
                        <div class="media-body">
                          <div class="well well-lg thread">
                              <h4 class="media-heading ">Ема Димитрова</h4>
                              <ul class="media-date text-uppercase  list-inline">
                                <li class="dd">22</li>
                                <li class="mm">05</li>
                                <li class="aaaa">2017</li>
                              </ul>
                              <p class="media-comment">
                                Доста често приложенията са претрупани и усложнени. Често потребителите искат допълнителна функционалност, без да отчитат сложността и незадоволителните резултати, а и разработчиците добавят неща, които смятат, че някога биха били полезни на някого. В крайна сметка се оказва, че по-простият дизай е по-добър, отколкото разнообразието и твърде многото свойства. 
								Най-добре е да се фокусираме върху основните функционалности, без излишни елементи, които да затрудняват използването на приложението.
                              </p>
                              <a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-thumbs-up"></span>2</a>
							  <a class="btn btn-warning btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-thumbs-down"></span>0</a>
                          </div>              
                        </div>
      
                      </li>
					  <li class="media">
						<a class="pull-left" href="#">
                          <img class="media-object img-circle" src="resources/images/grumpy.jpg" alt="profile">
                        </a>
					  <div class="media-body">
						<form>
							<div class="form-group">
								<label for="comment">Коментирай:</label>
									<textarea class="form-control" rows="5" id="comment"></textarea>
							</div>
						</form>
							  <a class="btn btn-info btn-circle text-uppercase" href="#" id="reply">Изпрати</a>
							  <a class="btn btn-warning btn-circle text-uppercase" href="#" id="reply">Изтрий</a>
						</div>
					  </li>
                    </ul> 
                </div>
            </div>
        </div>
	</div>
  </div>
</div>