<div class="container mainView">
  
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Контакти
            </h1>
        </div>

    </div>
<div class="col-md-6">
 
    <div class="row">
        <div class="col-md-5">
            <h4 style="color:#337ab7">Сграда</h4>

            <p>Отворено по всяко време</a>
			<br>тел.02 878 5689</a>
            </p>
			<hr style="margin-top:0; margin-bottom:0">
        </div>
	</div>
	    <div class="row">
        <div class="col-md-5">
            <h4 style="color:#337ab7">Библиотека
            </h4>

            <p>09:00-17:00
			<br>тел.02 878 5689
            </p>
			<hr style="margin-top:0; margin-bottom:0">
        </div>
	</div>
	    <div class="row">
        <div class="col-md-5">
            <h4 style="color:#337ab7">Отдел студенти</h4>

			<p>стая
            <br>Отворено по всяко време
			<br>тел.02 878 5689
            </p>
			<hr style="margin-top:0; margin-bottom:0">
        </div>
	</div>
	    <div class="row">
        <div class="col-md-5">
            <h4 style="color:#337ab7">Каса</a></h4>

            <p>стая
            <br>10:00-16:00
			<br>тел.02 878 5689
            </p>
			<hr style="margin-top:0; margin-bottom:0">
        </div>
	</div>
	   <div class="row">
        <div class="col-md-5">
            <h4 style="color:#337ab7">Кариерен център</h4>

            <p>стая
            <br>10:00-14:00
			<br>тел.02 878 5689
            </p>
			<hr style="margin-top:0; margin-bottom:0">
        </div>
	</div>
</div>
<div class="col-sm-4">
            <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
                    <iframe width="150%" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=Blvd%20%22James%20Bourchier%22%205%2C%201164%20Sofia%2C%20Bulgaria&key=AIzaSyAMd6b-0g25KKLPw8zKnJ6FtvOSn9B1Vv4" allowfullscreen></iframe>
		
		</div>
<div class="col-sm-6">
			<br>
            <p style="font-size:120%;"> гр.София,бул."Джеймс Баучер",5
			<br>Градски транспорт:
			<br>авт.:94,102     трамвай: 10</p>
        
        </div>
		
	</div>
    </div> 
</div>