<div navigationpath></div>
<div class="faq-div">
	<h1>Често задавани въпроси</h1>
	<div id="row">
		<div class="square-section col-md-5 col-sm-5 col-xs-11 col-xs-preset-1">
			<h3>Кандидатстване</h3>
			<div>
				<ul ng-repeat="question in application_items">
					<li>
						<a ng-href="{{question.ref}}">{{ question.question }}</a>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="square-section col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1 col-xs-11 col-xs-preset-1">
			<h3>Избираеми дисциплини</h3>
			<div>
				<ul ng-repeat="question in electives">
					<li>
						<a ng-href="{{question.ref}}">{{ question.question }}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="row">
		<div class="square-section col-md-5 col-sm-5  col-xs-11 col-xs-preset-1">
			<h3>Настаняване и общежития</h3>
			<div>
				<ul ng-repeat="question in accomodation_questions">
					<li>
						<a ng-href="{{question.ref}}">{{ question.question }}</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="square-section col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1 col-xs-11 col-xs-preset-1">
			<h3>Стипендии</h3>
			<div>
				<ul ng-repeat="question in scholarship_question">
					<li>
						<a ng-href="{{question.ref}}">{{ question.question }}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>