<div class="container mainView">

    <div class="row">

        <div class="col-lg-12" >
            <h1 class="page-header">Форум
            </h1>
        <div class="col-lg-14">
		<div class="well well-lg" id="thread">
		<div class="col-md-6">
		<button class="btn btn-warning" type="button">Нова дискусия</button>
		</div>
	
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Търсене във форума...">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span>  Търсене</button>
      </span>
    </div><!-- /input-group -->
	</div>
  </div><!-- /.col-lg-6 -->

        </div>

    </div>
	
	    <hr>

    <div class="row">

        <div class="col-md-1">
				<img src="resources/images/triangle-grey.png" class="img-responsive" height="50" width="50">
        </div>
        <div class="col-md-8">
            <h4><a href="#!/forum/comments">Какви са добрите практики при проектиране на интерфейс?</a>
            </h4>

            <p>Започнато от <a href="#!/forum/empty">Иван Иванов</a> 23 Март 2017
            </p>
        </div>
		<div class="col-md-1" >
		<img src="/resources/images/person.png" class="img-responsive" height="40">
		<p align="center">8 участници</p>
		</div>
		<div class="col-md-1">
		<img src="/resources/images/bubble.png" class="img-responsive">
		<p align="center">15 коментара</p>
		</div>

    </div>

    <hr>
	
	<div class="row">

        <div class="col-md-1">
				<img src="resources/images/triangle-grey.png" class="img-responsive" height="50" width="50">
        </div>
        <div class="col-md-8">
            <h4><a href="#!/forum/empty">Как да правим дизайн за Android?</a>
            </h4>

            <p>Започнато от <a href="#!/forum/empty">Иванка Желева</a> 15 Март 2017
            </p>
        </div>
		<div class="col-md-1">
		<img src="/resources/images/person.png" class="img-responsive">
		<p align="center">11 участници</p>
		</div>
		<div class="col-md-1">
		<img src="/resources/images/bubble.png" class="img-responsive">
		<p align="center">33 коментара</p>
		</div>

    </div>

    <hr>
	
	<div class="row">

        <div class="col-md-1">
				<img src="resources/images/triangle-grey.png" class="img-responsive" height="50" width="50">
        </div>
        <div class="col-md-8">
            <h4><a href="#!/forum/empty">Какви да правим дизайн за iOS?</a>
            </h4>

            <p>Започнато от <a href="#!/forum/empty">Димитър Георгиев</a> 23 Март 2017
            </p>
        </div>
		<div class="col-md-1">
		<img src="/resources/images/person.png" class="img-responsive">
		<p align="center">12 участници</p>
		</div>
		<div class="col-md-1">
		<img src="/resources/images/bubble.png" class="img-responsive">
		<p align="center">24 коментара</p>
		</div>

    </div>

    <hr>
	
	<div class="row">

        <div class="col-md-1">
				<img src="resources/images/triangle-grey.png" class="img-responsive" height="50" width="50">
        </div>
        <div class="col-md-8">
            <h4><a href="#!/forum/empty">Кои са най-добрите фреймуорци за изграждане на уеб страници?</a>
            </h4>

            <p>Започнато от <a href="#!/forum/empty">Димитър Георгиев</a> 23 Март 2017
            </p>
        </div>
		<div class="col-md-1">
		<img src="/resources/images/person.png" class="img-responsive">
		<p align="center">7 участници</p>
		</div>
		<div class="col-md-1">
		<img src="/resources/images/bubble.png" class="img-responsive">
		<p align="center">10 коментара</p>
		</div>

    </div>

	<br>
		<div class="col-md-6">
		<button class="btn btn-warning" type="button">Нова дискусия</button>
		</div>

    
</div>