<div class="container mainView">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Форум
            </h1>
			<div class="well well-lg" id="thread">
			
    <div class="row">
			<div class="col-md-3"><p align="center" style="font-size:150%">1000<br>потребители коментират</p></div>
			<div class="col-md-3"><p align="center" style="font-size:150%">135<br>теми за обсъждане</p></div>
			<div class="col-md-3"><p align="center" style="font-size:150%">20<br>коментара на ден</p></div>
			<div class="col-md-3"><p align="center" style="font-size:150%">12<br>теми на седмица</p></div>
    </div><!-- /input-group -->
	</div>
			
			
        <div class="col-lg-14">
			<div class="col-md-2"></div>
 <div class="col-md-8">	
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Търси във форума...">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span>  Search</button>
      </span>
	 </div>
	 </div>
    </div><!-- /input-group -->

  </div><!-- /.col-lg-6 -->


    </div>
	
   <div class="row">
		<h3 style="color:#337ab7">Технически теми
            </h3>
			</div>
    <div class="row">
	
	<hr>

        <div class="col-md-8">
            <h4>Проектиране на човеко-машинен интерфейс</h4>
        </div>
		<div class="col-md-1">
		<p align="center">80<br>следят</p>
		</div>
		<div class="col-md-1">
		<p align="center">54<br>коментара</p>
		</div>
		
    </div>

    <hr>
	
	<div class="row">

        <div class="col-md-8">
            <h4>Многонишково програмиране</h4>
        </div>
		<div class="col-md-1">
		<p align="center">121<br>следят</p>
		</div>
		<div class="col-md-1">
		<p align="center">62<br>коментара</p>
		</div>

    </div>
	
    <hr>
	
		<br>
	
	   <div class="row">
		<h3 style="color:#337ab7">Социални  теми
            </h3>
			</div>
	<hr>
	
		<div class="row">

        <div class="col-md-8">
            <h4>Административни документи</h4>
        </div>
		<div class="col-md-1">
		<p align="center">245<br>следят</p>
		</div>
		<div class="col-md-1">
		<p align="center">126<br>коментара</p>
		</div>

    </div>
	
	<hr>
	
			<div class="row">

        <div class="col-md-8">
            <h4>Стипендии</h4>
        </div>
		<div class="col-md-1">
		<p align="center">291<br>следят</p>
		</div>
		<div class="col-md-1">
		<p align="center">138<br>коментара</p>
		</div>

    </div>

   
</div>
<!-- /.container -->
