<div ng-controller="MainCtrl" id="home-view">
    <div id="main-events-notifications">
        <div id="notifications-box-home" class="mainView">
          <h1 class="feed-title">Известия</h1>
          <div feed class="notifications-feed"  id="notifications-feed-main" news="notifications"></div>    
          <a href="#!/notifications">Преглед на всички известия</a>
        </div>
        <aside id="aside-calendar" class="mainView">
          <h2>Предстоящи събития</h2>
          <div smallcalendar event-sources="eventSources"></div>
          <a href="#!/schedule">Преглед на целия график</a>
        </aside>
    </div>

    <div class="mainView">
        <h1 class="feed-title">Новини</h1>
        <div feed id="news" news="news"></div>
    </div>
</div>

