<div ng-controller="MainCtrl" id="home-view">
    <div id="main-events-notifications">
        <div id="notifications-box-home" class="mainView">
          <h1>Здравейте {{user.first_name || user.email }}! Това са вашите известия:</h1>
          <div ng-show="error">
            <br><br>
            За да видите своите известия, интегрирайте профила си с Moodle:
            <a href="#!/moodleintegration">Интеграция с Moodle</a>
          </div>
          
          <div ng-repeat="discussion in discussions|limitTo:3">
            <h4>
              <a href="https://learn.fmi.uni-sofia.bg/mod/forum/discuss.php?d={{ discussion.discussion }}"><b> {{ discussion.name }} </b></a>
            </h4>
            <div class="single-course-div">
              <span ng-bind-html="discussion.message" >...</span> 
            </div>
          </div>

          <a href="#!/notifications" ng-show="!error">Още известия</a>
        </div>
        <aside id="aside-calendar" class="mainView">
          <h2>Предстоящи събития</h2>
          <div smallcalendar event-sources="eventSources"></div>
          <a href="#!/calendar">Преглед на целия график</a>
        </aside>
    </div>

    <div class="mainView">
        <h1 class="feed-title">Новини</h1>
        <div feed id="news" news="news"></div>
    </div>
</div>

