<div id="login-view">
    <style>nav {
        display: none;
    }
    </style>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <img id="big-logo" src="resources/images/logo.png" alt="">
    <aside class="login-column">
        <div class="mainView">
            <p id="login-errors"></p>
            <form id="login-form" class="login-column" ng-submit="login()">
                <input type="text" ng-model="username" name="" id="">
                <input type="password" ng-model="password" name="" id="">
                <button ng-click="count = count + 1" ng-init="count=0">Вход</button>
                <a href="">Възстановяване на парола</a>
            </form>
            <div>
                <p>Влезте с ваш акаунт във:</p>
                <div id="other-logins">
                    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
                    <!-- <span class="g-signin2" data-onsuccess="onSignIn" /> -->
                </div>
            </div>
        </div>
        <div class="mainView">
        <p>Създаване на акаунт</p>
        <a href="#!/register"><button>Регистрация</button></a>
        </div>
    </aside>
</div>

<meta name="google-signin-client_id" content="1074774584625-95r97su0nkakq9tqi2f60ne98c9kaaqp.apps.googleusercontent.com">

