<div ng-controller="MaterialsController" class="materials-div">
	<h1>Материали</h1>
	<div id="row">
		<div class="col-md-5 col-sm-5 col-xs-11 col-xs-preset-1">
			<div>
				<img src="resources/images/upload.png" class="img-responsive" height="500" width="500">
				 <input type="button" value="Качи" style="align-self: center">
			</div>
		</div>
		
		<div class="col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1 col-xs-11 col-xs-preset-1">
			<img src="resources/images/download.png" class="img-responsive" height="500" width="500">
			<input type="button" value="Свали" style="align-self: center; width: 100%">
		</div>
	</div>
</div>