<div navigationpath></div>
<div ng-controller="MaterialsController" class="materials-div">
	<h1>Материали</h1>
	<div class="row">
		<div class="col-sm-5 col-xs-11 col-xs-preset-1">
			<div>
				<a href="http://localhost:8282/#!/">
					<img src="resources/images/upload.png" class="img-responsive materials-image" height="500" width="500">
				</a>
				<a href="http://localhost:8282/#!/" style="text-decoration: none;">
					<input type="button" value="Качи" class="materials-button">
				</a>
			</div>
		</div>
		
		<div class="col-sm-5 col-sm-offset-1 col-xs-11 col-xs-preset-1">
			<a href="http://localhost:8282/#!/">
				<img src="resources/images/download.png" class="img-responsive materials-image" height="500" width="500">
			</a>
			<a href="http://localhost:8282/#!/" style="text-decoration: none;">
				<input type="button" value="Свали" class="materials-button">	
			</a>
		</div>
	</div>
</div>