<div id="profileView">
	<div class="mainView" id="profile-content">
		<br>
		<h1>Записани курсове {{ user }} </h1>
		<span class="row" ng-repeat="discussion in discussions">
				<div class="single-course-div">
					<h4>
						<a href="https://learn.fmi.uni-sofia.bg/mod/forum/discuss.php?d={{ discussion.discussion }}"><b> {{ discussion.name }} </b></a>
					</h4>
					<p><b><u>Oписание:</u></b> {{ discussion.message }} </p>
					<p><b>Created: </b> {{ discussion.timemodified }} </p>
				</div>
				<hr>
			</span>
	</div>
</div>